{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}

{% block content %}
     <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'img/banner/10.jpg'%});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Contact Us</h1>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'myprint:home' %}"><i class="fas fa-home"></i>{% trans " Home" %}</a></li>
                        <li class="active">{% trans "Contact" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Contact Area 
    ============================================= -->
    <div id="contact" class="contact-area default-padding">
        <div class="container">
            <div class="contact-content">
                <div class="row">
                    <div class="col-lg-4 info">
                        <div class="content text-light text-center">
                            <div class="thumb">
                                <img src="{{contact_us_banner.location_call_img.url}}" alt="Thumb">
                            </div>
                            <ul>
                                <li>
                                    <i class="fal fa-map-marker-alt"></i>
                                    <p>
                                        {{location}}
                                    </p>
                                </li>
                                <li>
                                    <i class="fal fa-phone-alt"></i>
                                    <p>
                                        {{extra_phone1}} <br> {{extra_phone2}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 contact-form-box">
                        <div class="form-box">
                            <h2>{% trans "Let's talk?" %}</h2>
                            <p>
                                {% trans "It's all about the humans behind a brand and those experiencing it, we're right there. In the middle performance quick." %}
                            </p>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            {{ form.name }}
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form.phone_number }}
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group comments">
                                            {{ form.description }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" name="submit" id="submit">
                                            Send Message <i class="fa fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Alert Message -->
                                <div class="col-lg-12 alert-notification">
                                    <div id="message" class="alert-msg"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->

    <!-- Star Google Maps
    ============================================= -->
    <div class="maps-area">
        <div class="container">
            <div class="google-maps">
                <div class="row">
                    <div class="col-lg-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14767.262289338461!2d70.79414485000001!3d22.284975!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1424308883981"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Google Maps -->
{% endblock %}
