
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

     <!-- Start Breadcrumb 


    ============================================= -->
    <div class="project-details-area default-padding">
        <div class="container">
            {% for pro in project %}
            <div class="project-details-items">
                <div class="thumb">
                    <img src="{{pro.gallary.image.url}}" alt="Thumb">
                </div>
                <div class="top-info">
                    <div class="row">
                        
                        <div class="col-lg-12 left-info">
                            <h2>{{pro.gallary.name}}</h2>
                            <p>
                                {{pro.gallary.description}}
                            </p>
                        </div>
                       
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
    <!-- End Project Details Area -->

    {% endblock content %}