{% extends 'base.html' %}
{% load static %}
{% load i18n %}
Gallery
{% block content %}

     <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'img/banner/6.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>{% trans 'Latest Projects' %}</h1>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'myprint:home' %}"><i class="fas fa-home"></i>{% trans 'Home' %}</a></li>
                        <li class="active">{% trans 'Projects' %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Project Area
    ============================================= -->
    <div class="project-area overflow-hidden default-padding">
        <div class="container">
            <div class="project-items-area">
                <div class="masonary">
                    <div id="portfolio-grid" class="gallery-items colums-3" style="position: relative; height: 708.3px;">
                        {% for pro in projects %}
                        <!-- Single Item -->
                        <div class="pf-item" style="position: absolute; left: 0%; top: 0px;">
                            <div class="project-style-two">
                                <img src="{{pro.image.url}}" alt="Thumb">
                                <div class="info">
                                    <span>{{pro.place}}</span>
                                    <h4><a href="{% url 'gallary-detail' pro.pk %}">{{pro.service}}</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Projects Area -->
{% endblock %}