{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area top-pad-extra text-regular right-shape content-less">
        <!-- Animated Bubble -->
        <div class="animated-bubble">
            <img src="{% static 'img/shape/bubble.png' %}" alt="Bubble">
            <img src="{% static 'img/shape/bubble-mini.png' %}" alt="Bubble">
            <img src="{% static 'img/shape/bubble.png' %}" alt="Bubble">
            <img src="{% static 'img/shape/bubble.png' %}" alt="Bubble">
            <img src="{% static 'img/shape/bubble-mini.png' %}" alt="Bubble">
            <img src="{% static 'img/shape/bubble.png' %}" alt="Bubble">
            <img src="{% static 'img/shape/bubble-mid.png' %}" alt="Bubble">
        </div>
        <!-- End Animated Bubble -->
        <div id="bootcarousel" class="carousel text-light slide animate_text" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active bg-cover" style="background-image: url({% static 'img/banner/7.jpg' %});">
                    <div class="box-table">
                        <div class="box-cell shadow gradient">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="content">
                                            <h4 data-animation="animated slideInDown">{% trans "Best Cleaning Service" %}</h4>
                                            <h2 data-animation="animated slideInLeft">{% trans "Amazing quality cleaning service agency" %}</h2>
                                            <div class="bottom" data-animation="animated slideInUp">
                                                <a class="btn btn-theme primary effect btn-md" href="{% url 'myprint:contact' %}">{% trans "Book a Schedule" %}</a>
                                                 <a href="{{youtube}}" class="popup-youtube secondary theme relative video-play-button">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item bg-cover" style="background-image: url({% static 'img/banner/9.jpg' %});">
                    <div class="box-table">
                        <div class="box-cell shadow gradient">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="content">
                                            <h4 data-animation="animated slideInRight">{% trans "Professional Sanitizing" %}</h4>
                                            <h2 data-animation="animated slideInLeft">{% trans "Disinfecting & Deodorizing Spray Services" %}</h2>
                                            <div class="bottom" data-animation="animated slideInUp">
                                                <a class="btn btn-theme primary effect btn-md" href="{% url 'myprint:contact' %}">{% trans "Book a Schedule" %}</a>
                                                 <a href="{{youtube}}" class="popup-youtube theme secondary relative video-play-button">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

            <!-- Left and right controls -->
            <a class="left carousel-control light" href="#bootcarousel" data-slide="prev">
                <span class="sr-only">{% trans "Previous" %}</span>
            </a>
            <a class="right carousel-control light" href="#bootcarousel" data-slide="next">
                <span class="sr-only">{% trans "Next" %}</span>
            </a>

        </div>
    </div>
    <!-- End Banner -->

    <!-- Start About 
    ============================================= -->
    <div class="about-us-area overflow-hidden default-padding">
        <div class="container">
            <div class="about-items">
                <!-- Shape -->
                <div class="shape">
                    <img src="{% static 'img/shape/8.png' %}" alt="Shape">
                </div>
                <!-- End Shape -->
                <div class="row align-center">
                    <div class="col-lg-6">
                        <div class="thumb">
                            <img src="{% static 'img/thumb/8.jpg' %}" alt="Thumb">
                            <img src="{% static 'img/thumb/2.jpg' %}" alt="Thumb">
                            <div class="experience">
                                <h2>{% trans "26" %}</h2>
                                <h4>{% trans "Years Experiences" %}</h4>
                           </div>
                        </div>
                    </div>
                    <div class="col-lg-6 info">
                        <h2>{% trans "We are committed to give <br> our best services" %}</h2>
                        <blockquote>
                            {% trans "Local operations team on-call 24 hours a day, available to work at a moment’s notice." %}
                        </blockquote>
                        <p>
                            {% trans "Friendly bachelor entrance to on by. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection." %}
                        </p>
                        <div class="bottom-info">
                            <div class="button">
                                <a data-animation="animated zoomInUp" class="btn btn-theme primary effect btn-md" href="{% url 'myprint:contact' %}">{% trans "Contact Us" %}</a>
                            </div>
                            <div class="contact">
                                <div class="content">
                                    <span>{% trans "Get Free Estimate" %}</span>
                                    <h5>+44-20-7328-4499</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    <!-- Start Services Types 
    ============================================= -->
    <div class="services-types-area shadow overflow-hidden bg-theme text-light default-padding">
        <!-- Shape -->
        <div class="fixed-shape">
            <img src="{% static 'img/shape/28.png' %}" alt="Shape">
        </div>
        <!-- Shape -->
        <div class="container">
            <div class="row align-center">
                <!-- Buble Shape -->
                <div class="buble-shape">
                    <img src="{% static 'img/shape/bubble-light.png' %}" alt="Bubble">
                </div>
                <!-- Buble Shape -->
                <div class="col-lg-12">
                    <div class="services-type-items services-type-carousel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <div class="row align-center">
                                <div class="col-lg-6 content">
                                    <h5>{% trans "One Time / Recurring" %}</h5>
                                    <h2>{% trans "Residential Cleaning" %}</h2>
                                    <p>
                                       {% trans " Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection." %}
                                    </p>
                                    <ul>
                                        <li>{% trans "Kitchen" %}</li>
                                        <li>{% trans "Bathrooms" %}</li>
                                        <li>{% trans "Bedrooms Living Rooms" %}</li>
                                        <li>{% trans "Extra Services" %}</li>
                                        <li>{% trans "Seasonal" %}</li>
                                        <li>{% trans "Move in/out" %}</li>
                                        <li>{% trans "Post construction" %}</li>
                                        <li>{% trans "Еxpress" %}</li>
                                    </ul>
                                    <a class="btn btn-theme secondary effect btn-md" href="{% url 'myprint:contact' %}">{% trans "Free Estimate" %}</a>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumb">
                                        <img src="{% static 'img/services/5.jpg' %}" alt="Thumb">
                                        <h4>{% trans "<strong><span>29%</span> Off</strong> For the new customers" %}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="row align-center">
                                <div class="col-lg-6 content">
                                    <h5>{% trans "One Time / Recurring" %}</h5>
                                    <h2>{% trans "Commercial Cleaning" %}</h2>
                                    <p>
                                        {% trans "Prevailed mr tolerably discourse assurance estimable applauded to points." %}
                                    </p>
                                    <ul>
                                        <li>{% trans "Office" %}</li>
                                        <li>{% trans "Shops" %}</li>
                                        <li>{% trans "Medical facilities" %}</li>
                                        <li>{% trans "Factories" %}</li>
                                        <li>{% trans "Restaurants" %}</li>
                                        <li>{% trans "Airports" %}</li>
                                        <li>{% trans "Government facilities" %}</li>
                                        <li>{% trans "Showrooms" %}</li>
                                    </ul>
                                    <a class="btn btn-theme secondary effect btn-md" href="{% url 'myprint:contact' %}">{% trans "Free Estimate" %}</a>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumb">
                                        <img src="{% static 'img/services/8.jpg' %}" alt="Thumb">
                                        <h4>{% trans "<strong><span>38%</span> Off</strong> For the new customers" %}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Services Types Area -->


    <div class="appoinment-area bg-theme">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6">
                    <div class="thumb">
                        <img src="{% static 'img/illustration/6.png' %}" alt="illustration">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 form-content">
                    <div class="form-items">
                        <h2>{% trans "Free Estimate" %}</h2>
                        <p>
                            {% trans "Get a quick response within 24 hours" %}
                        </p>

                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{ form.name }}
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{ form.email }}
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{ form.phone_number }}
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{ form.category }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn-animation dark border" type="submit" name="submit" id="submit">
                                        <span>Get Estimate <i class="fas fa-angle-right"></i></span>
                                    </button>
                                </div>
                            </div>
                            <!-- Alert Message -->
                            <div class="col-lg-12 alert-notification">
                                <div id="message" class="alert-msg"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Appoinment Area -->

    <!-- Start Projects Area 
    ============================================= -->
    <div class="projects-area default-padding">
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-5">
                        <h5>{% trans "Successful Project" %}</h5>
                        <h2>
                            {% trans "Keep your vision to our latest projects. " %}
                        </h2>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <p>
                            {% trans "Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection." %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fill">
            <div class="project-items project-carousel owl-carousel owl-theme">
                <!-- Single Item -->
                {% for carusel in caruselimg %}
                    <div class="project-style-one">
                        <img src="{{ carusel.image.url }}" alt="Thumb">
                        <div class="info">
                            <h4><a href="{% url 'myprint:product_detail' carusel.pk %}">{{ carusel.name }}</a></h4>
                            <span>House, Office</span>
                        </div>
                    </div>
                {% endfor %}
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Projects Area Area -->

    {% endblock content %}