{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
     <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'img/banner/21.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Our Services</h1>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'myprint:home' %}"><i class="fas fa-home"></i> {% trans "Home" %}</a></li>
                        <li class="active">{% trans "Services" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start there how me fuck mouse of your wife  Features Area 
    ============================================= -->
  
    <!-- End Fun Factor Area -->

   <!-- Start Pricing Area 
    ============================================= -->
    <div class="pricing-area default-padding-bottom bottom-less" style="padding-top: 50px;">
        <!-- Fixed Shape -->
        <div class="fixed-sahpe-bottom">
            <img src="{% static 'img/shape/19.png' %}" alt="Shape">
        </div>
        <!-- End Fixed Shape -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        
                        <h2>Quality leader among cleaning <br> Companies in the industry!</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="pricing pricing-simple">
                <div class="row">
                    <div class="owl-carousel owl-theme owl-loaded">
                        <div class="owl-stage-outer">
                            <div class="owl-stage-rl">
                                {% for i in card %}
                                <div class="owl-item"> 
                                    <div class="col-lg-12 single-item">
                                        <div class="pricing-item ">
                                            <div class="pricing-header">
                                                <h4>{{i.name}}</h4>
                                            </div>
                                            <div class="price">
                                                <h2><sup>$</sup>{{i.price}}</h2>
                                                <p>{{i.detail}}</p>
                                            </div>
                                                <ul>
                                                    {% for ser in i.service.all %}
                                                    <li>{{ser.name}}<i {% if ser.is_exist == True %} class="fas fa-check-circle"{% else %} class="fas fa-times-circle"{% endif %}></i></li>
                                                    {% endfor %}
                                                </ul>
                                            <a class="btn btn-dark effect btn-sm" href="{% url 'myprint:contact' %}">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- End Pricing Area -->
    <div class="appoinment-area bg-theme">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6">
                    <div class="thumb">
                        <img src="{% static 'img/illustration/6.png' %}" alt="illustration">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 form-content">
                    <div class="form-items">
                        <h2>Создай свой тариф</h2>
                        <p>
                            Get a quick response within 24 hours
                        </p>

                        <!-- forma -->
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-box">

                                <select name="option[]" id="select__calc">
                                    {% for rm in cat %}
                                    <option value="{{rm.name}}-{{rm.price}}">{{rm.name}}</option>
                                    {% endfor %}
                                </select>
                                {% for sr in servic %}
                                <div class="form-checkbox">
                                    <input type="checkbox" id="{{sr.name}}" name="checks[]" class="rate__input input__calc" value="{{sr.name}}-{{sr.price}}">
                                    <label for="{{sr.name}}"  class="rate__lable">{{sr.name}}</label>
                                </div>
                                {% endfor %}
                            </div>


                            <div class="row" style="margin-top: 25px;">
                                <div class="col-lg-12">
                                    <button class="btn-animation dark border calculate__button" type="submit" name="submit" id="submit">
                                        <span>Get it <i class="fas fa-angle-right"></i></span>
                                    </button>
                                </div>
                            
                            <div class="col-lg-12">
                                <button class="btn-animation dark border" type="submit" name="submit" id="submit">
                                    <span>Get it <i class="fas fa-angle-right"></i></span>
                                </button>
                            </div>
                            <div class="form-price">
                                <h2><span>--</span></h2>
                            </div>
                        </div>
                        </form>


                    </div>

                   
                </div>
            </div>
        </div>
    </div>
    


    {% endblock content %}
    {% block script %}
    <script>
        const result = document.querySelector(".form-price h2");
        const form = document.querySelector(".calculate");
        const calculateButton = document.querySelector(".calculate__button");

        const parentDiv = document.querySelector(".form-box");
        const select = document.querySelector(".select__options");
        const selectOption = document.querySelector(".select__calc");
        const inputCalc = document.querySelectorAll(".input__calc");
        //culc 



        function calcTotal (e) {
            e.preventDefault();
            const prices = [select__calc.value.split("-")[1]];
            inputCalc.forEach(item => {
                if(item.checked) {
                    return prices.push(item.value.split("-")[1]);
                }
            });
    
            const totalPrice = prices.reduce((prevValue, currenValue) => Number(prevValue) + Number(currenValue), 0);
            
            result.innerText = totalPrice.toLocaleString(
                undefined,
                {
                    minimumFractionDigits: 1
                }
            );
        }
        calculateButton.addEventListener("click", calcTotal);
    
    </script>
    {% endblock %}  